body{
	margin: 10px;
}

h1 {
	color: green;
	text-align: center;
	font-size: 25px;
	font-family:"Trebuchet MS";
	background-color: rgb(184, 228, 184);
	margin: 0px;
}
h2 {
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: "Trebuchet MS";
}
p {
	color: black;
	text-align: center;
	font-size: 15px;
	font-family: "Verdana";
}
.navbar ul{
	list-style-type: none;
	background-color: forestgreen;
	font-family:"Trebuchet MS";
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.navbar a{
	color: white;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	text-align: center;

}
.navbar a:hover{
	background-color: blueviolet;
}
.navbar li{
	float: left;
}
ul {
	list-style-type: none;
	margin: 5px;
	padding: 15px;
	font-size: 20px;
}
#list2 {
	list-style-type: disc;
}
h3 {
	color: black;
    text-align: center;
    font-size: 20px;
    font-family: "Trebuchet MS";
}
ol {
	color: black;
	text-align: left;
	font-size: 15px;
	font-family: "Verdana"
}
h4 {
	color: black;
    text-align: center;
    font-size: 15px;
    font-family: "Trebuchet MS";
}
aside {
    width: 50%;
    padding-right: 25px;
    margin-right: 25px;
    float: right;
    font-family: "Verdana";
    background-color: lightgray;
}

