body{
	margin: 5px;
}

h1 {
	color: green;
	text-align: center;
	font-size: 25px;
	background-color: rgb(184, 228, 184);
	margin: 0px;
}

.navbar ul{
	list-style-type: none;
	background-color: #228b22;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.navbar a{
	color: white;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	text-align: center;

}
.navbar a:hover{
	background-color: blueviolet;
}
.navbar li{
	float: left;
}
dt {
    font-weight: bold;
}
hr.rounded {
    border-top: 5px solid #228b22;
    border-radius: 5px
}