body{
	margin: 5px;
}

h1 {
	color: green;
	text-align: center;
	font-size: 25px;
	font-family:"Lucida Sans";
	background-color: rgb(184, 228, 184);
	margin: 0px;
}
h2 {
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: "Lucida Sans";
}
p {
	color: black;
	text-align: center;
	font-size: 11px;
	font-family: "Verdana";
}
.navbar ul{
	list-style-type: none;
	background-color: forestgreen;
	font-family:"Lucida Sans";
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.navbar a{
	color: white;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
	text-align: center;

}
.navbar a:hover{
	background-color: blueviolet;
}
.navbar li{
	float: left;
}

ul {
	list-style-type: none;
	margin: 5px;
	font-family:"Lucida Sans";
	padding: 15px;
	font-size: 20px;
}

h2 {
	color: rgb(21, 64, 21);
	text-align: left;
	font-size: 20px;
	font-family:"Lucida Sans";
}
p {
	text-align: left;
	font-size: 15px;
	font-family: "Verdana";
}

